avisynth/src/Release/*
avisynth/src/Debug/*
avisynth/src/x64/*
avisynth/src/.vs/*
avisynth/archive/*
vapoursynth/*
*.opensdf
*.opendb
*.psess
*.sdf
*.suo
*.sln
*.filters
*.user
*.vspx
*.vsp
*.dll
*.avs
*.exe
*.db
